.featured {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    
    .total {
        font-size: 20px;
        
        span {
            font-size: 18px;
            font-weight: bold;
            color: #82CD47;
        }
    }

}