.datatable {
    padding: 20px;


    .datatable-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 20px;
            color: #999;
        }

        button {
            padding: 5px 15px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            margin: 20px;
            cursor: pointer;
            background-color: #38E54D;
            color: #fff;
        }
    }


    .cell-with-img {
        display: flex;
        align-items: center;

        .cell-img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .cell-with-status {
        padding: 5px;
        border-radius: 5px;
        text-align: center;

        &.active {
            background-color: #B3FFAE;
            color: #fff;
        }

        &.passive {
            background-color: #FED049;
            color: #fff;
        }

        &.pending {
            background-color: #FF6464;
            color: #fff;
        }
    }

    .cell-action {
        display: flex;
        gap: 10px;

        .button {
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            
        }


        .edit-btn {
            background-color: #B3FFAE;
            color: #fff;

            &:hover {
                background-color: #38E54D;
            }
        }

        .delete-btn {
            background-color: #FF6464;
            color: #fff;

            &:hover {
                background-color: #CC3636; 
            }
        }
    }
}